.buttonGroup{
    display: flex;
    gap: 10px;
}

.grid{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 60px);
    grid-template-rows: 60px 60px 60px;
}

.flex{
    display: flex;
    flex-basis: 60px;
    flex-direction: column;
    gap: 10px;
}